/* Fonts imported */
@import url('https://fonts.cdnfonts.com/css/miama');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

/* Universal rules */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Shared styles */
button {
  background: none;
  border: none;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
body {
  font-family: Inter;
  background-color: rgba(0, 0, 0);
  color: rgb(255, 255, 255);
}

/* Header section styles start here */
.header {
  max-width: 100%;
  margin: 0px auto;
  background: linear-gradient(180.00deg, rgb(17, 17, 17), rgba(119, 119, 119, 0) 100%);
}
.container {
  max-width: 1060px;
  margin: 0px auto;
}

/* Navbar section styles start here */
.navbar-container {
  padding-top: 57px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar-options {
  border: 2px solid rgba(255, 255, 255, 0.1);
  border-radius: 39px;
}
.brand-name h1 {
  color: rgb(230, 83, 60);
  font-size: 2.2rem;
  font-weight: 800;
  line-height: 120%;
  letter-spacing: 0%;
  text-align: left;
  font-style: italic;
}
.brand-name span {
  color: white;
}
.hamburger-icon .fa-solid {
  display: none; 
  font-size: 2rem;
  color: white; 
}
.navbar-options ul {
  list-style: none;
  padding: 10px 2px;
  display: flex;
}
.navbar-options a {
  color: rgb(255, 255, 255);
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 120%;
  letter-spacing: 0%;
  padding: 8px 20px;
  margin: 0 23px;
  border-radius: 46px;
  text-align: left;
}
.navbar-options .home {
  margin-left: 0;
}
.navbar-options .about {
  margin-right: 0;
}
.active {
  background: rgb(230, 83, 60);
}
/* Navbar section styles end here */

/* Banner section styles start here */
.banner-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.banner-title {
  margin-top: 50px;
  flex: 4;
}
.banner-title h1 {
  color: rgb(255, 255, 255);
  font-size: 4.8rem;
  font-weight: 900;
  line-height: 100%;
  letter-spacing: 0%;
  margin-bottom: 28px;
  text-align: left;
}
.shape {
  font-family: miama;
  color: rgb(255, 255, 255);
  font-size: 9rem;
  font-weight: 500;
  letter-spacing: 0%;
  text-align: left;
}
.banner-title p {
  color: rgba(255, 255, 255, 0.5);
  font-size: 1rem;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.5px;
  text-align: left;
  margin-bottom: 34px;
}
.banner-section img {
  margin-top: 42px;
  margin-left: 88px;
}
.banner-section .img {
  flex: 5;
  text-align: center;
  position: relative;
}
.banner-section .btn {
  display: flex;
  gap: 14px; 
}
.banner-section .btn a {
  padding: 16px 40px;
  color: rgb(255, 255, 255);
  font-size: 1.1rem;
  font-weight: 600;
  line-height: 22px;
  letter-spacing: 0px;
  text-align: left;
  border-radius: 42px; 
}
.btn-one a {
  background: rgb(230, 83, 60);
  text-align: left;
}
.btn-two a {
  box-sizing: border-box;
  border: 1px solid rgb(255, 255, 255);
}
.position-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.text-one {
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 12px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(20px);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 18px;
  position: absolute;
  left: 10%;
  bottom: 10%;
}
.text-one .fa-solid {
  font-size: 2.5rem;
  color: rgb(230, 83, 60);
  border-radius: 50px;
}
.text-item {
  margin-left: 10px;
}
.text-item h1 {
  color: rgb(250, 250, 249);
  font-size: 1.5rem;
  font-weight: 900;
  line-height: 24px;
  letter-spacing: 0.3px;
  text-align: left;
}
.text-item p {
  color: rgba(239, 237, 232, 0.65);
  font-size: 1rem;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.5px;
  text-align: left;
}
.text-two {
  box-sizing: border-box;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 12px;
  backdrop-filter: blur(20px);
  background: rgba(255, 255, 255, 0.1);
  padding: 18px;
  position: absolute;
  right: -1%;
  top: 26%;
}
.text-two h1 {
  color: rgb(255, 255, 255);
  font-size: 2.5rem;
  font-weight: 900;
  line-height: 40px;
  letter-spacing: 1px;
  text-align: left;
}
.text-two p {
  color: rgba(255, 255, 255, 0.65);
  font-size: 0.9rem;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 1px;
  text-align: left;
}
/* Banner section styles end here */
/* Header section styles end here */

/* Habits section styles start here */
.habits {
  margin: 100px auto;
}
.habits-title h2 {
  color: rgb(255, 255, 255);
  font-size: 3rem;
  font-weight: 900;
  line-height: 120%;
  letter-spacing: 0%;
  text-align: center;
  margin-bottom: 14px;
}
.habits-title p {
  color: rgba(255, 255, 255, 0.5);
  font-size: 0.9rem;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.3px;
  text-align: center;
  margin: 0px auto 58px auto;
}
.img-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
  margin: 0 auto;
}
.item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.habits .img {
  height: 180px;
  width: 180px;
  border-radius: 50%;
  border: 4px solid rgb(34, 34, 34);
  overflow: hidden;
  margin-bottom: 30px;
}
.item h2 {
  color: rgb(255, 255, 255);
  font-size: 1.1rem;
  font-weight: 600;
  line-height: 120%;
  letter-spacing: 0%;
  text-align: center;
  margin-bottom: 6px;
}
.item p {
  color: rgba(255, 255, 255, 0.5);
  font-size: 0.9rem;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0.3px;
  text-align: center;
}
/* Habits section styles end here */

/* Run extra section styles start here */
.content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 90px;
  margin: 0 auto;
  background-color: rgb(34, 34, 34);
  border-radius: 18px;
  padding: 29px 32px;
}
.img-item {
  width: 100%;
  height: 100%;
  border-radius: 18px;
  overflow: hidden;
}
#run-extra {
  margin: 100px auto;
}
#run-extra img {
  width: 100%;
  transform: translate(-35%, 40%) scale(3);
}
#run-extra .text-item h2 {
  color: rgb(255, 255, 255);
  font-size: 3rem;
  font-weight: 900;
  line-height: 120%;
  letter-spacing: 0%;
  text-align: left;
  margin-bottom: 15px;
}
#run-extra .text-item p {
  color: rgba(255, 255, 255, 0.5);
  font-size: 0.9rem;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.3px;
  text-align: left;
  margin-bottom: 35px;
}
#run-extra .text-item a {
  color: rgb(255, 255, 255);
  font-size: 1.1rem;
  font-weight: 600;
  line-height: 22px;
  letter-spacing: 0px;
  text-align: left;
  background: rgb(230, 83, 60);
  padding: 16px 40px;
  border-radius: 42px;
}
/* Run extra section styles end here */

/* BMI calculator section styles start here */
#bmi-calculator {
  max-width: 100%;
  background-color: rgb(34, 34, 34);
  margin: 0px auto;
  margin-bottom: 90px;
  padding: 60px 0px;
}
#bmi-calculator-header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 90px auto;
}
.heading h1 {
  color: rgb(255, 255, 255);
  font-size: 3rem;
  font-weight: 900;
  line-height: 120%;
  letter-spacing: 0%;
  text-align: left;
}
.heading p {
  color: rgba(255, 255, 255, 0.5);
  font-size: 0.9rem;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.3px;
  text-align: left;
}
.calculate-chart {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 90px auto;
}
.table {
  flex: 1;
}
.table-header h2 {
  color: rgb(255, 255, 255);
  font-size: 1.5rem;
  font-weight: 900;
  line-height: 120%;
  letter-spacing: 0%;
  text-align: left;
  margin-bottom: 52px;
}
.table table {
  border-collapse: collapse;
}
#bmi-calculator .table th,
td {
  border: 1px solid rgba(255, 255, 255, 0.1);
  padding: 15px 18px;
  text-align: left;
}
.table th {
  color: rgb(255, 255, 255);
  font-size: 1rem;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: 0%;
}
.table td {
  color: rgba(255, 255, 255, 0.5);
  font-size: 0.9rem;
  font-weight: 400;
  line-height: 120%;
  letter-spacing: 0%;
  text-align: left;
}
.bmi-form {
  flex: 1;
}
.bmi-form h1 {
  color: rgb(255, 255, 255);
  font-size: 1.5rem;
  font-weight: 900;
  line-height: 120%;
  letter-spacing: 0%;
  text-align: left;
  margin-bottom: 14px;
}
.bmi-form p {
  color: rgba(255, 255, 255, 0.5);
  font-size: 0.9rem;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.3px;
  text-align: left;
  margin-bottom: 36px;
}
#bmi-calculator .input {
  display: flex;
  justify-content: left;
  align-items: center;
}
#bmi-calculator select,
input {
  flex: 1;
  width: 100%;
  height: 48px;
  margin: 6px 12px 6px 0px;
  padding: 0px 20px;
  border-radius: 8px;
  border: none;
  background: rgba(255, 255, 255, 0.1);
  color: rgba(255, 255, 255, 0.6);
  font-weight: 200;
  line-height: 22px;
}
#bmi-calculator option {
  background: rgb(55, 55, 55);
}
#bmi-calculator input:focus {
  outline: none;
}
#bmi-calculator .btn {
  margin-top: 34px;
}
#bmi-calculator .btn a {
  color: rgb(255, 255, 255);
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 22px;
  letter-spacing: 0px;
  padding: 16px 40px;
  border-radius: 42px;
  background: rgb(230, 83, 60);
}
/* BMI calculator section styles end here */

/* Pricing plan section styles start here */
.price-container {
  max-width: 1060px;
  margin: 0 auto;
}
.pricing-title h2 {
  color: rgb(255, 255, 255);
  font-size: 3rem;
  font-weight: 900;
  line-height: 120%;
  letter-spacing: 0%;
  text-align: center;
  margin-bottom: 14px;
}
.pricing-title p {
  color: rgba(255, 255, 255, 0.5);
  font-size: 0.9rem;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.3px;
  text-align: center;
  margin: 0px auto 58px auto;
}
.pricing-boxes {
  margin-top: 4rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}
.price-card {
  padding: 3rem 2rem;
  display: flex;
  flex-direction: column;
  background-color: rgb(34, 34, 34);
  border: 2px solid transparent;
  border-radius: 10px;
  transition: 0.3s;
}
.price-card:hover {
  background-color: rgb(21, 21, 21);
  border: 2px solid rgb(230, 83, 60);
  transform: translateY(-5px) scale(1.03);
}
.price-card-content {
  flex: 1;
  margin-bottom: 2rem;
}
.price-card h4 {
  margin-bottom: 1rem;
  font-size: 1.2rem;
  font-weight: 500;
  color: white;
}
.price-card h3 {
  padding-bottom: 1rem;
  margin-bottom: 2rem;
  font-size: 2rem;
  font-weight: 600;
  color: white;
  border-bottom: 2px solid white;
}
.price-card p {
  margin-bottom: 0.75rem;
  color: white;
}
.price-card p i {
  margin-right: 0.5rem;
  font-size: 1rem;
  color: rgb(230, 83, 60);
}
.join-btn {
  background: rgb(230, 83, 60);
  border-radius: 42px;
  border: none;
  padding: 16px 40px 16px 40px;
  cursor: pointer;
}
.price-card button a {
  color: rgb(255, 255, 255); 
  font-family: Inter;
  font-size: 1.1rem;
  font-weight: 600;
  line-height: 22px;
  letter-spacing: 0px;
  text-align: left; 
  text-decoration: none;
}
.pricing-boxes .fa-solid {
  color: rgb(230, 83, 60);
}
/* Pricing plan section styles start here */

/* Meet our team section styles start here */
#meet-our-team {
  margin: 90px auto;
}
#meet-our-team .heading h2 {
  color: rgb(255, 255, 255);
  font-size: 3rem;
  font-weight: 900;
  line-height: 120%;
  letter-spacing: 0%;
  text-align: center;
}
#meet-our-team .heading p {
  color: rgba(255, 255, 255, 0.5);
  font-size: 0.9rem;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.3px;
  text-align: center;
}
#meet-our-team .img-content {
  display: grid;
  grid-template-columns: repeat(3, 2fr);
  background-color: rgb(34, 34, 34);
  border-radius: 18px;
  padding: 20px;
  margin: 54px auto;
  gap: 20px;
}
#meet-our-team .img-content .image {
  width: 100%;
  height: 272px;
  border-radius: 18px;
  margin: 0px auto;
  display: flex;
  justify-content: left;
  align-items: end;
}
#meet-our-team .img-content .trainer-1 {
  background: url(../images/trainer1.png), rgba(0, 0, 0, 0.2);
  background-blend-mode: overlay;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}
#meet-our-team .img-content .trainer-2 {
  background: url(../images/trainer2.png), rgba(0, 0, 0, 0.2);
  background-blend-mode: overlay;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}
#meet-our-team .img-content .trainer-3 {
  background: url(../images/trainer3.png), rgba(0, 0, 0, 0.2);
  background-blend-mode: overlay;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}
#meet-our-team .img-content .trainer-4 {
  background: url(../images/trainer4.png), rgba(0, 0, 0, 0.2);
  background-blend-mode: overlay;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}
#meet-our-team .img-content .trainer-5 {
  background: url(../images/trainer5.png), rgba(0, 0, 0, 0.2);
  background-blend-mode: overlay;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}
#meet-our-team .img-content .trainer-6 {
  background: url(../images/trainer6.png), rgba(0, 0, 0, 0.2);
  background-blend-mode: overlay;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}
#meet-our-team .img-content .name {
  margin: 20px;
}
#meet-our-team .img-content .name h1 {
  color: rgb(255, 255, 255);
  font-size: 1.4rem;
  font-weight: 900;
  line-height: 120%;
  letter-spacing: 0%;
}
#meet-our-team .img-content p {
  color: rgba(255, 255, 255, 0.5);
  font-size: 0.9rem;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.3px;
}
/* Meet our team section styles end here */

/* Footer section styles start here */
#footer-section {
  max-width: 100%;
  background-color: rgb(34, 34, 34);
  margin-top: 90px;
}
#footer-section .content-row {
  display: flex;
  justify-content: center;
  align-items: start;
  gap: 90px;
  padding: 60px 0px;
}
#footer-section .content-row .logo-content {
  flex: 1;
}
#footer-section span {
  color: white;
}
#footer-section .content-row .logo-content h1 {
  color: rgb(230, 83, 60);;
  font-size: 4.3rem;
  font-weight: 800;
  line-height: 120%;
  letter-spacing: 0%;
  text-align: left;
  font-style: italic;
  margin-bottom: 20px;
}
#footer-section .content-row .logo-content p {
  color: rgba(255, 255, 255, 0.5);
  font-size: 0.9rem;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.3px;
  text-align: left;
}
#footer-section .content-row .get-start {
  flex: 1;
  display: flex;
  justify-content: space-between;
}
#footer-section .get-start h1 {
  color: rgb(255, 255, 255);
  font-size: 2rem;
  font-weight: 700;
  line-height: 120%;
  letter-spacing: 0%;
  text-align: left;
  margin-bottom: 40px;
}
#footer-section .get-start li {
  margin-bottom: 20px;
}
#footer-section .get-start a {
  color: rgba(255, 255, 255, 0.5);
  font-size: 1rem;
  font-weight: 400;
  line-height: 120%;
  letter-spacing: 0%;
  text-align: left;
  padding: 10px 5px;
}
#footer-section .get-start a:hover {
  color: rgb(230, 83, 60);
}
#footer-section .footer h1 {
  color: rgba(255, 255, 255, 0.5);
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.3px;
  text-align: center;
  padding: 35px 0px;
  border-top: 2px solid rgba(255, 255, 255, 0.1);
}
/* Footer section styles end here */

